*.o
*.obj
*.out
*.exe
*.dll
*.so
*.dylib
*.a
*.lib

main
app
program
a.out

bin/
dist/
cmake-build-*/
Debug/
Release/
build/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

meson-private/
build.ninja
.ninja_log
.ninja_deps

*.dep
*.P
*.i
*.s

*.stackdump
vgcore.*

.idea/
*.swp
*.swo
*~

Thumbs.db
sds/

scan-build-*

*.rpm
TODO.md
info.md
api.md
